.verticalStepper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .card {
    display: inline-block;
    width: 72px;
    height: 72px;
    padding: 8px;
    border: 2px solid var(--main-border-color);
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border: 2px solid var(--accent-text-color);
    }
  }
}

.experienceSection {
  section {
    margin-top: 24px;
  }
}
