.header {
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
  }

  .headerTitle {
    flex-direction: column;

    h1 {
      margin: 8px 0;
    }
  }

  .langSwitcher {
    align-items: center;

    & > * {
      margin-left: 8px;
    }

    button.active {
      font-weight: bold;
    }
  }
}
