.header {
  border-bottom: 1px solid var(--main-border-color);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--main-bg-color);
  padding: 0 !important;

  .headerWrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  .headerTitle {
    padding: 8px;

    h1 {
      margin: 0;
    }
  }

  .langSwitcher {
    display: flex;
    align-items: center;
    padding: 8px;

    & > button {
      margin-left: 8px;
      text-transform: uppercase;
    }

    button.active {
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .headerWrapper {
    display: flex;
    justify-content: space-between;
  }
}
