.badge {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 4px;

  &.primary {
    color: #ffffff;
    background: #09d3ac;
  }

  &.warning {
    color: #ffffff;
    background: burlywood;
  }

  &.error {
    color: #ffffff;
    background: firebrick;
  }
}
