.verticalStepper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .card {
    flex: 1;
    display: inline-block;
    height: 124px;
    border: 2px solid var(--main-border-color);
    border-radius: 2px;
    margin-right: 16px;
    overflow: hidden;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border: 2px solid var(--accent-text-color);
    }
  }
}

.experienceSection {
  section {
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
    padding: 16px;
    margin-top: 24px;
  }

  .sectionContainer {
    display: flex;

    .sectionColumn {
      display: inline-block;
      flex: 1;
      padding-right: 16px;
    }
  }
}
