.App {
  max-width: 900px;
  margin: 0 auto 24px;
}

@media only screen and (max-width: 1024px) {
  .App {
    width: 100%;

    > div {
      padding-left: var(--section-horizontal-padding);
      padding-right: var(--section-horizontal-padding);
    }
  }
}
